.navbar{
    display: flex;
    justify-content: space-between;
    padding-left: 130px;
    width: 100%;
    z-index: 5 !important;
    position: fixed;
    backdrop-filter: blur(5px);
    border-bottom: 1px solid var(--textColor--);
}

/* Estilos para o SVG */
.logo {
    width: 100px;  
    height: 100px; 

}

.logo path {
   padding-top: 1em;
    width: 100%;
    height: 100%;
    fill: var(--backgroundcolor--);
}
 
.list{
    display: flex;
    list-style: none;
    align-items: center;
}

.list li a{
    color:var(--backgroundcolor--);
    text-decoration: none;
    margin-right: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease-in-out;
    padding-bottom: .2em;
}

.list li a:hover{
    color: var(--textColor--);
    border-bottom: 1px solid var(--textColor--);
}

.list li span{
    margin-right: .3em;
    font-size: 1.5em;
}



