body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F3F3F2; /* Fundo principal */
    color: #011830; /* Texto */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 6em; 
}

.header {
    text-align: center;
    margin: 1em;
}

.header h1 {
    color: var(--backgroundcolor--)
}

.header p {
    font-size: 18px;
    margin-bottom: 1em;
}

.cards {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 5px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.199);
    width: 400px;
    height: 400px;
    padding: 20px;
}

.card1 {
    background-color: var(--backgroundcolor--); 
    color: var(--backgroundcolor2--);
}

.card2 {
    background-color: var(--backgroundcolor2--); 
    color: var(--backgroundcolor--);
}

.card h2 {
    font-size: 25px;
    margin-bottom: 10px;
    font-family: Tahoma, sans-serif;
}

.card p {
    font-size: 16px;
    margin-bottom: 20px;
}

.card a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--textColor2--); 
    color: var(--backgroundcolor2--);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    margin: 2px;
    min-width: 150px;
    transition: .5s ease-in-out;
}


.card a svg {
    margin-right: .2em;
    font-size: 1.5em;
}

.card a:hover {
    color: var(--backgroundcolor--);
    background-color: var(--textColor--);
}

.footer {
    background-color: #011830; 
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 30px;
}
