.home_container {
  
    justify-content: space-between;
    align-items: center;
    background-color: var(--backgroundcolor2--);
    color: #fff;
    min-height: 100vh;
    position: relative;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.container1 {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3em ;
}

.text_section {
    max-width: 50%;
}

.text_section h1 {
    font-size: 3em;
    font-weight: bold;
    color: var(--textColor--);
    margin-bottom: 0.5em;
}

.text_section h1 span {
    color: var(--backgroundcolor--);
    font-size: 1.3em;
}

.text_section span {
    color: var(--backgroundcolor--);
}

.text_section p {
    color: var(--backgroundcolor--);
    backdrop-filter: blur(10px);  
    width: 400px;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1.5em;
}

.logo_section {
    max-width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {

    width: 100px;
    height: auto;
    animation: float 3s ease-in-out infinite;
    cursor: pointer;
    margin-bottom: -.5em;
}

.particles_canvas {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.img_section {

    margin-top: 150px;
    max-width: 1000px;
    height: auto;
    cursor: pointer;
}

.img_section img {
    width: 100%;

}

.features_section {

    padding: 4em 2em;
    text-align: center;
    color: #333;
    border-top: 1px solid var(--textColor--);

}

.features_section h2 {
    font-size: 2.5em;
    margin-bottom: 2em;
}

.features_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

.feature_item {

    padding: 1.5em;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-top: 3px solid var(--backgroundcolor--);
    transition: 0.5s ease;
}

.feature_item:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.feature_item svg{
    width:40px;
    height: 40px;   
     margin-bottom: 1em;
     color: var(--textColor--);
}

.feature_item h3 {
    font-size: 1.8em;
    margin-bottom: 1em;
}

.features_img {
    margin-top: 3em;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.advantages_section {
    padding: 2em 0em;
    text-align: center;
    color: #333;
    border-top: 1px solid var(--textColor--);


}

.advantages_section_info{
    display: flex;
    justify-content: space-around;
    background-color: var(--textColor--);
    padding: 2em 0;

}

.advantages_section h2 {
    font-size: 2.5em;
    margin-bottom: 1em;
}

.advantages_list svg{
    width:40px;
    height: 40px;   
     margin-bottom: .5em;
     color: var(--textColor--);
}

.advantages_list {
    display: grid;
    gap: .5em;
    grid-template-columns: repeat(1, 1fr);
    width: 30%;

}

.advantage_item {
    padding: 1em;
    background-color: #fff;
    border-radius: 10px;
    border-top: 3px solid var(--backgroundcolor--);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.advantage_item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.342);
}

.advantage_item h3 {
    font-size: 1.4em;
    margin-bottom: 1em;
}

.print_container {

    background-color: var(--backgroundcolor--);
    padding: 1em;
    border-radius: .4em;
    min-width: 300px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.print_container img{
    width: 100%;
    object-fit: contain;

}
