*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Inter";
}

html,body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height:100% ;
}


:root{
--textColor--:#80A2A6;
--backgroundcolor--: #011830;
--backgroundcolor2--:rgb(230, 224, 224);
--p-color--:#1B2B40 ;
--orange--:#BF5934;
--yellow--: #FFFF00;
--blueDark--: #1B2B40;
--green--:#88F26B;
--red--:#BF0404;
}
